In [1]:
# Ozone (O3)
O3_1h_BPlo_good = float('nan')
O3_1h_BPlo_moderate = float('nan')
O3_1h_BPlo_ufsg = 200.0
O3_1h_BPlo_u = 323.0
O3_1h_BPlo_vu = 401.0
O3_1h_BPlo_hazardous = 793.0

O3_1h_BPhi_good = 0.0
O3_1h_BPhi_moderate = 101.0
O3_1h_BPhi_ufsg = 121.0
O3_1h_BPhi_u = 168.0
O3_1h_BPhi_vu = 207.0
O3_1h_BPhi_hazardous = float('nan')

O3_8h_BPlo_good = float('nan')
O3_8h_BPlo_moderate = 101.0
O3_8h_BPlo_ufsg = 121.0
O3_8h_BPlo_u = 168.0
O3_8h_BPlo_vu = 207.0
O3_8h_BPlo_hazardous = float('nan')

O3_8h_BPhi_good = 100.0
O3_8h_BPhi_moderate = 120.0
O3_8h_BPhi_ufsg = 167.0
O3_8h_BPhi_u = 206.0
O3_8h_BPhi_vu = 392.0
O3_8h_BPhi_hazardous = float('nan')

# Carbon Monoxide (CO)
CO_8h_BPlo_good = 0.0
CO_8h_BPlo_moderate = 5.5
CO_8h_BPlo_ufsg = 10.5
CO_8h_BPlo_u = 14.5
CO_8h_BPlo_vu = 18.0
CO_8h_BPlo_hazardous = 35.5

CO_8h_BPhi_good = 5.4
CO_8h_BPhi_moderate = 10.4
CO_8h_BPhi_ufsg = 14.4
CO_8h_BPhi_u = 17.9
CO_8h_BPhi_vu = 35.4
CO_8h_BPhi_hazardous = 58.4

# Sulphur Dioxide (SO2)
SO2_1h_BPlo_good = 0.0
SO2_1h_BPlo_moderate = 93.0
SO2_1h_BPlo_ufsg = 351.0
SO2_1h_BPlo_u = 486.0
SO2_1h_BPlo_vu = float('nan')
SO2_1h_BPlo_hazardous = float('nan')

SO2_1h_BPhi_good = 92.0
SO2_1h_BPhi_moderate = 350.0
SO2_1h_BPhi_ufsg = 485.0
SO2_1h_BPhi_u = 797.0
SO2_1h_BPhi_vu = float('nan')
SO2_1h_BPhi_hazardous = float('nan')

SO2_24h_BPlo_good = float('nan')
SO2_24h_BPlo_moderate = float('nan')
SO2_24h_BPlo_ufsg = float('nan')
SO2_24h_BPlo_u = float('nan')
SO2_24h_BPlo_vu = 798.0
SO2_24h_BPlo_hazardous = 1584.0

SO2_24h_BPhi_good = float('nan')
SO2_24h_BPhi_moderate = float('nan')
SO2_24h_BPhi_ufsg = float('nan')
SO2_24h_BPhi_u = float('nan')
SO2_24h_BPhi_vu = 1583.0
SO2_24h_BPhi_hazardous = 2631.0

# Nitrogen Dioxide (NO2)
NO2_1h_BPlo_good = 0.0
NO2_1h_BPlo_moderate = 101.0
NO2_1h_BPlo_ufsg = 401.0
NO2_1h_BPlo_u = 678.0
NO2_1h_BPlo_vu = 1222.0
NO2_1h_BPlo_hazardous = 2350.0

NO2_1h_BPhi_good = 100.0
NO2_1h_BPhi_moderate = 400.0
NO2_1h_BPhi_ufsg = 677.0
NO2_1h_BPhi_u = 1221.0
NO2_1h_BPhi_vu = 2349.0
NO2_1h_BPhi_hazardous = 2853.0

NO2_24h_BPlo_good = 0.0
NO2_24h_BPlo_moderate = 76.0
NO2_24h_BPlo_ufsg = 151.0
NO2_24h_BPlo_u = 251.0
NO2_24h_BPlo_vu = 351.0
NO2_24h_BPlo_hazardous = 421.0

NO2_24h_BPhi_good = 75.0
NO2_24h_BPhi_moderate = 150.0
NO2_24h_BPhi_ufsg = 250.0
NO2_24h_BPhi_u = 350.0
NO2_24h_BPhi_vu = 420.0
NO2_24h_BPhi_hazardous = 600.0

# PM10
PM10_BPlo_good = 0.0
PM10_BPlo_moderate = 50.5
PM10_BPlo_ufsg = 60.5
PM10_BPlo_u = 75.5
PM10_BPlo_vu = 150.5
PM10_BPlo_hazardous = 205.5

PM10_BPhi_good = 50.4
PM10_BPhi_moderate = 60.4
PM10_BPhi_ufsg = 75.4
PM10_BPhi_u = 150.4
PM10_BPhi_vu = 250.4
PM10_BPhi_hazardous = 500.4

# PM2.5
PM25_BPlo_good = 0.0
PM25_BPlo_moderate = 51.0
PM25_BPlo_ufsg = 101.0
PM25_BPlo_u = 151.0
PM25_BPlo_vu = 201.0
PM25_BPlo_hazardous = 301.0

PM25_BPhi_good = 50.0
PM25_BPhi_moderate = 100.0
PM25_BPhi_ufsg = 150.0
PM25_BPhi_u = 200.0
PM25_BPhi_vu = 300.0
PM25_BPhi_hazardous = 500.0

# Sub-Index Value
SubIndex_Ilo_good = 0.0
SubIndex_Ihi_good = 50.0

SubIndex_Ilo_moderate = 51.0
SubIndex_Ihi_moderate = 100.0

SubIndex_Ilo_ufsg = 101.0
SubIndex_Ihi_ufsg = 150.0

SubIndex_Ilo_u = 151.0
SubIndex_Ihi_u = 200.0

SubIndex_Ilo_vu = 201.0
SubIndex_Ihi_vu = 300.0

SubIndex_Ilo_hazardous = 301.0
SubIndex_Ihi_hazardous = 500.0

In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
def calculate_no2_subindex(no2_value):
    breakpoints = [
        (NO2_1h_BPlo_good, NO2_1h_BPhi_good, SubIndex_Ilo_good, SubIndex_Ihi_good),
        (NO2_1h_BPlo_moderate, NO2_1h_BPhi_moderate, SubIndex_Ilo_moderate, SubIndex_Ihi_moderate),
        (NO2_1h_BPlo_ufsg, NO2_1h_BPhi_ufsg, SubIndex_Ilo_ufsg, SubIndex_Ihi_ufsg),
        (NO2_1h_BPlo_u, NO2_1h_BPhi_u, SubIndex_Ilo_u, SubIndex_Ihi_u),
        (NO2_1h_BPlo_vu, NO2_1h_BPhi_vu, SubIndex_Ilo_vu, SubIndex_Ihi_vu),
        (NO2_1h_BPlo_hazardous, NO2_1h_BPhi_hazardous, SubIndex_Ilo_hazardous, SubIndex_Ihi_hazardous)
    ]
    for BPlo, BPhi, Ilo, Ihi in breakpoints:
        if not (pd.isna(BPlo) or pd.isna(BPhi)):
            if BPlo <= no2_value <= BPhi:
                return (Ihi - Ilo) / (BPhi - BPlo) * (no2_value - BPlo) + Ilo
    print("NO2 value out of range")
    return None


def calculate_o3_subindex(o3_value):
    breakpoints = [
        (O3_1h_BPlo_good, O3_1h_BPhi_good, SubIndex_Ilo_good, SubIndex_Ihi_good),
        (O3_1h_BPlo_moderate, O3_1h_BPhi_moderate, SubIndex_Ilo_moderate, SubIndex_Ihi_moderate),
        (O3_1h_BPlo_ufsg, O3_1h_BPhi_ufsg, SubIndex_Ilo_ufsg, SubIndex_Ihi_ufsg),
        (O3_1h_BPlo_u, O3_1h_BPhi_u, SubIndex_Ilo_u, SubIndex_Ihi_u),
        (O3_1h_BPlo_vu, O3_1h_BPhi_vu, SubIndex_Ilo_vu, SubIndex_Ihi_vu),
        (O3_1h_BPlo_hazardous, O3_1h_BPhi_hazardous, SubIndex_Ilo_hazardous, SubIndex_Ihi_hazardous)
    ]
    for BPlo, BPhi, Ilo, Ihi in breakpoints:
        if not (pd.isna(BPlo) or pd.isna(BPhi)):
            if BPlo <= o3_value <= BPhi:
                return (Ihi - Ilo) / (BPhi - BPlo) * (o3_value - BPlo) + Ilo
    print("O3 value out of range")
    return None


def calculate_pm25_subindex(pm25_value):
    breakpoints = [
        (PM25_BPlo_good, PM25_BPhi_good, SubIndex_Ilo_good, SubIndex_Ihi_good),
        (PM25_BPlo_moderate, PM25_BPhi_moderate, SubIndex_Ilo_moderate, SubIndex_Ihi_moderate),
        (PM25_BPlo_ufsg, PM25_BPhi_ufsg, SubIndex_Ilo_ufsg, SubIndex_Ihi_ufsg),
        (PM25_BPlo_u, PM25_BPhi_u, SubIndex_Ilo_u, SubIndex_Ihi_u),
        (PM25_BPlo_vu, PM25_BPhi_vu, SubIndex_Ilo_vu, SubIndex_Ihi_vu),
        (PM25_BPlo_hazardous, PM25_BPhi_hazardous, SubIndex_Ilo_hazardous, SubIndex_Ihi_hazardous)
    ]
    for BPlo, BPhi, Ilo, Ihi in breakpoints:
        if not (pd.isna(BPlo) or pd.isna(BPhi)):
            if BPlo <= pm25_value <= BPhi:
                return (Ihi - Ilo) / (BPhi - BPlo) * (pm25_value - BPlo) + Ilo
    print("PM2.5 value out of range")
    return None


def calculate_pm10_subindex(pm10_value):
    breakpoints = [
        (PM10_BPlo_good, PM10_BPhi_good, SubIndex_Ilo_good, SubIndex_Ihi_good),
        (PM10_BPlo_moderate, PM10_BPhi_moderate, SubIndex_Ilo_moderate, SubIndex_Ihi_moderate),
        (PM10_BPlo_ufsg, PM10_BPhi_ufsg, SubIndex_Ilo_ufsg, SubIndex_Ihi_ufsg),
        (PM10_BPlo_u, PM10_BPhi_u, SubIndex_Ilo_u, SubIndex_Ihi_u),
        (PM10_BPlo_vu, PM10_BPhi_vu, SubIndex_Ilo_vu, SubIndex_Ihi_vu),
        (PM10_BPlo_hazardous, PM10_BPhi_hazardous, SubIndex_Ilo_hazardous, SubIndex_Ihi_hazardous)
    ]
    for BPlo, BPhi, Ilo, Ihi in breakpoints:
        if not (pd.isna(BPlo) or pd.isna(BPhi)):
            if BPlo <= pm10_value <= BPhi:
                return (Ihi - Ilo) / (BPhi - BPlo) * (pm10_value - BPlo) + Ilo
    print("PM10 value out of range")
    return None


def calculate_co_subindex(co_value):
    breakpoints = [
        (CO_1h_BPlo_good, CO_1h_BPhi_good, SubIndex_Ilo_good, SubIndex_Ihi_good),
        (CO_1h_BPlo_moderate, CO_1h_BPhi_moderate, SubIndex_Ilo_moderate, SubIndex_Ihi_moderate),
        (CO_1h_BPlo_ufsg, CO_1h_BPhi_ufsg, SubIndex_Ilo_ufsg, SubIndex_Ihi_ufsg),
        (CO_1h_BPlo_u, CO_1h_BPhi_u, SubIndex_Ilo_u, SubIndex_Ihi_u),
        (CO_1h_BPlo_vu, CO_1h_BPhi_vu, SubIndex_Ilo_vu, SubIndex_Ihi_vu),
        (CO_1h_BPlo_hazardous, CO_1h_BPhi_hazardous, SubIndex_Ilo_hazardous, SubIndex_Ihi_hazardous)
    ]
    for BPlo, BPhi, Ilo, Ihi in breakpoints:
        if not (pd.isna(BPlo) or pd.isna(BPhi)):
            if BPlo <= co_value <= BPhi:
                return (Ihi - Ilo) / (BPhi - BPlo) * (co_value - BPlo) + Ilo
    print("CO value out of range")
    return None

    
def calculate_so2_subindex(so2_value):
    breakpoints = [
        (SO2_1h_BPlo_good, SO2_1h_BPhi_good, SubIndex_Ilo_good, SubIndex_Ihi_good),
        (SO2_1h_BPlo_moderate, SO2_1h_BPhi_moderate, SubIndex_Ilo_moderate, SubIndex_Ihi_moderate),
        (SO2_1h_BPlo_ufsg, SO2_1h_BPhi_ufsg, SubIndex_Ilo_ufsg, SubIndex_Ihi_ufsg),
        (SO2_1h_BPlo_u, SO2_1h_BPhi_u, SubIndex_Ilo_u, SubIndex_Ihi_u),
        (SO2_1h_BPlo_vu, SO2_1h_BPhi_vu, SubIndex_Ilo_vu, SubIndex_Ihi_vu),
        (SO2_1h_BPlo_hazardous, SO2_1h_BPhi_hazardous, SubIndex_Ilo_hazardous, SubIndex_Ihi_hazardous)
    ]
    for BPlo, BPhi, Ilo, Ihi in breakpoints:
        if not (pd.isna(BPlo) or pd.isna(BPhi)):
            if BPlo <= so2_value <= BPhi:
                return (Ihi - Ilo) / (BPhi - BPlo) * (so2_value - BPlo) + Ilo
    print("SO2 value out of range")
    return None

In [6]:
df = pd.read_csv('/workspaces/vikrant_dubai/SQL/AQI.csv')
df.reset_index(drop=True, inplace=True)

In [7]:
df

,vlookup,SO2,PM10,PM2.5,8h_Avg_WHO,8h_Avg_NS,C0_8h_Avg,NO2
0,Ajman01012023,1.908333,1.059583,0.085417,17.832500,17.832500,1.877500,43.2600
1,Ajman01022023,1.296667,23.330833,7.953750,22.918750,22.918750,1.362500,29.6300
2,Ajman01032023,2.155000,17.247500,8.151667,28.575000,28.575000,0.510000,35.1400
3,Ajman01042023,2.024583,24.255000,9.757917,NaN,NaN,0.956250,36.0800
4,Ajman01052023,2.935417,NaN,NaN,22.016250,22.016250,0.408750,52.9300
...,...,...,...,...,...,...,...,...
1820,Masfo31052023,3.886333,79.647500,33.690417,96.933000,96.933000,0.164622,8.4600
1821,Masfo31072023,5.227808,45.990417,18.035417,70.706500,70.706500,0.201250,11.0899
1822,Masfo31082023,6.245158,43.170833,19.293333,46.351125,46.351125,0.226250,13.3774
1823,Masfo31102023,4.120258,15.979583,6.572917,38.616875,38.616875,0.183750,23.5302
1824,Masfo31122023,8.712504,30.811250,11.532917,24.403125,24.403125,0.336250,16.9951

In [8]:
df['AQI'] = df[['SO2', 'PM10', 'PM2.5', '8h_Avg_WHO', '8h_Avg_NS', 'C0_8h_Avg', 'NO2']].max(axis=1, skipna=True)

In [11]:
df

,vlookup,SO2,PM10,PM2.5,8h_Avg_WHO,8h_Avg_NS,C0_8h_Avg,NO2,AQI
0,Ajman01012023,1.908333,1.059583,0.085417,17.832500,17.832500,1.877500,43.2600,43.260000
1,Ajman01022023,1.296667,23.330833,7.953750,22.918750,22.918750,1.362500,29.6300,29.630000
2,Ajman01032023,2.155000,17.247500,8.151667,28.575000,28.575000,0.510000,35.1400,35.140000
3,Ajman01042023,2.024583,24.255000,9.757917,NaN,NaN,0.956250,36.0800,36.080000
4,Ajman01052023,2.935417,NaN,NaN,22.016250,22.016250,0.408750,52.9300,52.930000
...,...,...,...,...,...,...,...,...,...
1820,Masfo31052023,3.886333,79.647500,33.690417,96.933000,96.933000,0.164622,8.4600,96.933000
1821,Masfo31072023,5.227808,45.990417,18.035417,70.706500,70.706500,0.201250,11.0899,70.706500
1822,Masfo31082023,6.245158,43.170833,19.293333,46.351125,46.351125,0.226250,13.3774,46.351125
1823,Masfo31102023,4.120258,15.979583,6.572917,38.616875,38.616875,0.183750,23.5302,38.616875
1824,Masfo31122023,8.712504,30.811250,11.532917,24.403125,24.403125,0.336250,16.9951,30.811250

In [14]:
df.to_csv('/workspaces/vikrant_dubai/SQL/AQIF.csv', index=False)

In [ ]:
,vlookup,SO2,PM10,PM2.5,8h_Avg_WHO,8h_Avg_NS,C0_8h_Avg,NO2,AQI
0,Ajman01012023,1.9083333333333328,1.059583333333333,0.0854166666666666,17.8325,17.8325,1.8775,43.26,43.26
1,Ajman01022023,1.2966666666666666,23.33083333333333,7.953749999999999,22.918750000000003,22.918750000000003,1.3624999999999998,29.63,29.63
2,Ajman01032023,2.155,17.2475,8.151666666666666,28.575,28.575,0.51,35.14,35.14
3,Ajman01042023,2.024583333333333,24.255,9.757916666666668,,,0.95625,36.08,36.08
4,Ajman01052023,2.935416666666667,,,22.016249999999992,22.016249999999992,0.4087499999999999,52.93,52.93
5,Ajman01062023,2.0415,,,,,,42.08,42.08
6,Ajman01072023,2.09375,,,81.00625,81.00625,0.8312499999999999,14.25,81.00625
7,Ajman01082023,2.4891666666666667,,,45.47375,45.47375,0.7025,12.45,45.47375

why am i getting 0,1,2,3,4,5,6,7 in the first column of the output file?
The numbers 0, 1, 2, 3, 4, 5, 6, and 7 in the first column of your output file are the default index values generated by pandas when you save a DataFrame to a CSV file. By default, pandas includes the index of the DataFrame as the first column in the output.
To avoid this and not include the index in your output CSV file, you can set the `index` parameter to `False` when calling the `to_csv` method. Here's how you can modify your code:

SyntaxError: invalid decimal literal (3903577611.py, line 1)