In [1]:
import pandas as pd

In [2]:

df = pd.read_csv('/workspaces/vikrant_dubai/final/comb/DXB_combined.csv')
unique_station_names = df['Station Name'].unique()

/tmp/ipykernel_3431/4208464079.py:1: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/workspaces/vikrant_dubai/final/comb/DXB_combined.csv')

In [3]:
unique_station_names

array(['EmiratesHills', 'NadAlShiba', 'DIP', 'JAVillage', 'Hatta',
       'Karama', 'AlQusais', 'Warsan', 'Zabeel', 'ShkZayedRd',
       'ShkMohdBinZayedRd', 'Deira', 'Airport', 'Mushrif',
       'MushrifNationalPark'], dtype=object)

In [4]:
df2=df[['Station Name', 'Date', 'Time', 'NO2']]
no2 = df2[df2['Time'] == '01:00:00'].copy()
no2['Date'] = pd.to_datetime(no2['Date'], dayfirst=True)
no2['vlookup'] = no2['Station Name'].str[:5] + no2['Date'].dt.strftime('%d%m%Y')
no2 = no2[['vlookup', 'NO2']]

In [5]:
def create_finder_table(df):
    df['vlookup'] = df['Station Name'].str[:3] + df['Date'].str.replace('/', '')
    df_grouped = df.groupby(['Station Name', 'Date']).first().reset_index()
    df_grouped['vlookup'] = df_grouped['Station Name'].str[:5] + df_grouped['Date'].str.replace('/', '')
    Finder_table = df_grouped[['Station Name', 'Date', 'vlookup']]
    return Finder_table

# Example usage:
Finder_table = create_finder_table(df)
Finder_table.to_csv('/workspaces/vikrant_dubai/SQL/Finder_table.csv', index=False)

In [6]:
df.columns

Index(['Station Name', 'Date', 'Time', 'SO2', 'Data Cap. (SO2)', 'SO2 Avg',
       'NO2', 'Data Cap. (NO2)', 'NO2 Avg', 'O3', 'Data Cap. (O3)',
       'O3 8H Avg.', 'Daily Capture O3', 'O3 Daily Average',
       'O3 Daily Average (NS)', 'CO', 'Data Cap. (CO)', 'CO 8H Avg.',
       'Daily Capture CO', 'CO Daily Average', 'PM10', 'Data Cap. (PM10)',
       'PM10 Avg', 'PM2.5', 'Data Cap. (PM2.5)', 'PM2.5 Avg',
       'Lower Ambient Temperature', 'Upper Ambient Temperature',
       'Barometric Pressure', 'Relative Humidity', 'Wind Direction',
       'Wind Speed', 'H2S', 'Toluene', 'O-Xylene', 'Ethylbenzene', 'MP-Xylene',
       'Benzene', 'CH4', 'NMHC', 'THC', 'Noise', 'Solar Radiation', 'Atm P.',
       'NAN', 'vlookup'],
      dtype='object')

In [7]:
# List of pollutants to process others

pollutants = ['Lower Ambient Temperature', 'Upper Ambient Temperature',
       'Barometric Pressure', 'Relative Humidity', 'Wind Direction',
       'Wind Speed', 'H2S', 'Toluene', 'O-Xylene', 'Ethylbenzene', 'MP-Xylene',
       'Benzene', 'CH4', 'NMHC', 'THC', 'Noise', 'Solar Radiation', 'Atm P.']

# Convert pollutant columns to numeric, forcing errors to NaN
df[pollutants] = df[pollutants].apply(pd.to_numeric, errors='coerce')

avg_values = df.groupby(['Station Name', 'Date'])[pollutants].mean().reset_index()

final_df = pd.merge(avg_values, Finder_table, on=['Station Name', 'Date'], suffixes=(' Avg 24H', ''))
final_df.rename(columns={'Station Name': 'Name'}, inplace=True)
final_df['vlookup'] = final_df['Name'].str[:5] + final_df['Date'].str.replace('/', '')
final_df=final_df.drop(columns=['Name', 'Date'])
final_df = final_df[['vlookup'] + [col for col in final_df.columns if col != 'vlookup']]
final_df.to_csv('/workspaces/vikrant_dubai/SQL/other.csv', index=False)

In [21]:


pollutants = ['SO2', 'NO2','CO','PM10', 'PM2.5']

# Convert pollutant columns to numeric, forcing errors to NaN
df[pollutants] = df[pollutants].apply(pd.to_numeric, errors='coerce')

avg_values = df.groupby(['Station Name', 'Date'])[pollutants].mean().reset_index()

final_df = pd.merge(avg_values, Finder_table, on=['Station Name', 'Date'], suffixes=(' Avg 24H', ''))
final_df.rename(columns={'Station Name': 'Name'}, inplace=True)
final_df['vlookup'] = final_df['Name'].str[:5] + final_df['Date'].str.replace('/', '')
final_df=final_df.drop(columns=['Name', 'Date'])
final_df

           SO2        NO2        CO       PM10      PM2.5        vlookup
0     1.908333  28.313750  1.162500   1.059583   0.085417  Ajman01012023
1     1.296667  26.647083  1.319167  23.330833   7.953750  Ajman01022023
2     2.155000  29.250417  0.584583  17.247500   8.151667  Ajman01032023
3     2.024583  17.529167  0.818333  24.255000   9.757917  Ajman01042023
4     2.935417  33.590833  0.326667        NaN        NaN  Ajman01052023
...        ...        ...       ...        ...        ...            ...
1820  3.886333   4.394500  0.162237  79.647500  33.690417  Masfo31052023
1821  5.227808  14.374129  0.216667  45.990417  18.035417  Masfo31072023
1822  6.245158  10.898500  0.202500  43.170833  19.293333  Masfo31082023
1823  4.120258  17.298975  0.150417  15.979583   6.572917  Masfo31102023
1824  8.712504  26.662792  0.279583  30.811250  11.532917  Masfo31122023

[1825 rows x 6 columns]

In [22]:
allother=final_df[['vlookup', 'SO2','PM10', 'PM2.5']]

In [23]:



selected_columns = df[['Station Name', 'Date','Time', 'O3']]

# Convert 'O3' column to numeric type
selected_columns['O3'] = pd.to_numeric(selected_columns['O3'], errors='coerce')


# Extract unique station names
unique_station_names = selected_columns["Station Name"].unique()

# Define the process_data function
def process_data(values, dates, times):
    # Create DataFrame
    df_temp = pd.DataFrame({'Index': range(len(values)), 'Values': values, 'Date': dates, 'Time': times})

    # Calculate 8-hour moving average
    df_temp['8h_Avg'] = df_temp['Values'].rolling(window=8).mean()

    # Calculate datacap (percentage of available data in 8-hour window)
    df_temp['datacap'] = df_temp['Values'].rolling(window=8).count() / 8 * 100

    # Ensure first 7 values of 'datacap' are blank (NaN)
    #df_temp.loc[:6, 'datacap'] = None

    # Define function to calculate 8h_Avg_WHO and 8h_Avg_NS
    def calculate_adjusted_avg(df_temp, max_threshold):
        adjusted_avg = [None] * len(df_temp)
        for i in range(7, len(df_temp)):
            if df_temp.loc[i, 'datacap'] >= 75:
                adjusted_avg[i] = df_temp.loc[i, '8h_Avg']
            else:
                max_value = df_temp.loc[i-7:i, 'Values'].max()
                if max_value > max_threshold:
                    adjusted_avg[i] = max_value
        return adjusted_avg

    # Calculate 8h_Avg_WHO with max value threshold of 100
    df_temp['8h_Avg_WHO'] = calculate_adjusted_avg(df_temp, 100)

    # Calculate 8h_Avg_NS with max value threshold of 120
    df_temp['8h_Avg_NS'] = calculate_adjusted_avg(df_temp, 120)

    return df_temp

# Process data for each station name
dfs = []
for station in unique_station_names:
    station_data = selected_columns[selected_columns['Station Name'] == station]
    station_values = station_data["O3"].tolist()
    station_dates = station_data["Date"].tolist()
    station_times = station_data["Time"].tolist()
    processed_df = process_data(station_values, station_dates, station_times)
    processed_df['Station Name'] = station
    dfs.append(processed_df)

# Concatenate all DataFrames
df2 = pd.concat(dfs, ignore_index=True)

# Rearrange the columns as specified
df2 = df2[['Station Name', 'Date','Time', 'Values', 'datacap', '8h_Avg_WHO', '8h_Avg_NS']]
df2.rename(columns={'Values': 'O3'}, inplace=True)

# Convert 'Date' column to datetime format for proper grouping
df2['Date'] = pd.to_datetime(df2['Date'], dayfirst=True)

# Calculate 8h_Avg_WHO_DC and 8h_Avg_NS_DC
df2['8h_Avg_WHO_DC'] = df2.groupby(['Station Name', 'Date'])['8h_Avg_WHO'].transform(lambda x: x.count() / 24 * 100)
df2['8h_Avg_NS_DC'] = df2.groupby(['Station Name', 'Date'])['8h_Avg_NS'].transform(lambda x: x.count() / 24 * 100)

/tmp/ipykernel_39003/4184489898.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_columns['O3'] = pd.to_numeric(selected_columns['O3'], errors='coerce')

In [24]:
o3=df2[df2['Time'] == '08:00:00']
o3['vlookup'] = o3['Station Name'].str[:5] + o3['Date'].dt.strftime('%d%m%Y')
o3=o3[['vlookup','8h_Avg_WHO', '8h_Avg_NS']]

/tmp/ipykernel_39003/3625366439.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o3['vlookup'] = o3['Station Name'].str[:5] + o3['Date'].dt.strftime('%d%m%Y')

In [25]:

# Ensure only the last row of each day for each station retains the values, setting others to NaN
df2.loc[df2.duplicated(subset=['Station Name', 'Date'], keep='last'), ['8h_Avg_WHO_DC', '8h_Avg_NS_DC']] = None

# Group by 'Station Name' and 'Date'
grouped = df2.groupby(['Station Name', 'Date'])

# Create new columns for the calculated daily averages
df2['Daily_Avg_8h_WHO'] = None
df2['Daily_Avg_8h_NS'] = None

# Iterate over each group to calculate the averages where count > 75
for (station, date), group in grouped:
    if group['8h_Avg_WHO_DC'].sum() > 75:  # Check if total count > 75 for WHO
        avg_value_who = group['8h_Avg_WHO'].mean()  # Calculate average for WHO
        df2.loc[group.index[-1], 'Daily_Avg_8h_WHO'] = avg_value_who  # Assign to last row
    
    if group['8h_Avg_NS_DC'].sum() > 75:  # Check if total count > 75 for NS
        avg_value_ns = group['8h_Avg_NS'].mean()  # Calculate average for NS
        df2.loc[group.index[-1], 'Daily_Avg_8h_NS'] = avg_value_ns  # Assign to last row



# Convert 'Date' column to datetime format
df2['Date'] = pd.to_datetime(df2['Date'], dayfirst=True)

# Change date format to ddmmyyyy
df2['Date'] = df2['Date'].dt.strftime('%d/%m/%Y')

# Add a new column 'vlookup' that takes the first 5 letters of 'Station Name' and concatenates it with 'Date'
df2['vlookup'] = df2['Station Name'].str[:5] + df2['Date'].str.replace('/', '')

# Remove the 'Station Name' column
df2.drop(columns=['Station Name','Date'], inplace=True)


last_rows_per_date_station = df2.drop_duplicates(subset=['vlookup'], keep='last')

last_rows_per_date_station = last_rows_per_date_station[['vlookup'] + [col for col in last_rows_per_date_station.columns if col != 'vlookup']]

# Reset the index
last_rows_per_date_station.reset_index(drop=True, inplace=True)

last_rows_per_date_station

,vlookup,Time,O3,datacap,8h_Avg_WHO,8h_Avg_NS,8h_Avg_WHO_DC,8h_Avg_NS_DC,Daily_Avg_8h_WHO,Daily_Avg_8h_NS
0,Jurf01012023,23:00:00,1.9632,100.0,37.05540,37.05540,70.833333,70.833333,None,None
1,Jurf02012023,23:00:00,53.0064,100.0,46.87140,46.87140,100.000000,100.000000,37.89385,37.89385
2,Jurf03012023,23:00:00,62.8224,100.0,49.32540,49.32540,100.000000,100.000000,49.7344,49.7344
3,Jurf04012023,23:00:00,76.5648,100.0,76.81020,76.81020,100.000000,100.000000,67.249825,67.249825
4,Jurf05012023,23:00:00,64.7856,100.0,47.11680,47.11680,100.000000,100.000000,67.331625,67.331625
...,...,...,...,...,...,...,...,...,...,...
1821,Ajman27122023,23:00:00,0.0900,100.0,4.52750,4.52750,100.000000,100.000000,20.193437,20.193437
1822,Ajman28122023,23:00:00,0.0600,100.0,12.82375,12.82375,100.000000,100.000000,26.052812,26.052812
1823,Ajman29122023,23:00:00,0.2200,100.0,18.01750,18.01750,100.000000,100.000000,28.507552,28.507552
1824,Ajman30122023,23:00:00,0.0400,100.0,6.02875,6.02875,100.000000,100.000000,25.303646,25.303646
1825,Ajman31122023,23:00:00,8.6100,100.0,31.29125,31.29125,100.000000,100.000000,27.01875,27.01875

In [26]:



selected_columns = df[['Station Name', 'Date','Time', 'CO']]

df=selected_columns

# Convert 'Date' column to datetime format for proper processing
df['Date'] = pd.to_datetime(df['Date'], dayfirst=True)

# Extract unique station names
unique_station_names = df["Station Name"].unique()

# Define the process_data function for CO transformation
def process_data(values, dates, times):
    # Create DataFrame
    df_temp = pd.DataFrame({'Index': range(len(values)), 'CO': values, 'Date': dates, 'Time': times})

    # Calculate 8-hour moving average
    df_temp['C0_8h_Avg'] = df_temp['CO'].rolling(window=8).mean()

    # Calculate datacap (percentage of available data in 8-hour window)
    df_temp['datacap'] = df_temp['CO'].rolling(window=8).count() / 8 * 100

    # Ensure first 7 values of 'datacap' are blank (NaN)
    df_temp.loc[:6, 'datacap'] = None

    return df_temp

# Process data for each station name
dfs = []
for station in unique_station_names:
    station_data = df[df['Station Name'] == station]
    station_values = station_data["CO"].tolist()
    station_dates = station_data["Date"].tolist()
    station_times = station_data["Time"].tolist()
    processed_df = process_data(station_values, station_dates, station_times)
    processed_df['Station Name'] = station
    dfs.append(processed_df)

# Concatenate all DataFrames
df2 = pd.concat(dfs, ignore_index=True)

# Rearrange the columns as specified
df2 = df2[['Station Name', 'Date', 'Time', 'CO', 'datacap', 'C0_8h_Avg']]

In [27]:
co=df2[df2['Time'] == '08:00:00']
co['vlookup'] = co['Station Name'].str[:5] + co['Date'].dt.strftime('%d%m%Y')
co=co[['vlookup', 'C0_8h_Avg']]

/tmp/ipykernel_39003/467830704.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  co['vlookup'] = co['Station Name'].str[:5] + co['Date'].dt.strftime('%d%m%Y')

In [28]:
# Merge co, o3, and allother DataFrames on 'vlookup'
combined = allother.merge(o3, on='vlookup', how='outer').merge(co, on='vlookup', how='outer').merge(no2, on='vlookup', how='outer')

# Display the combined DataFrame
combined.to_csv('/workspaces/vikrant_dubai/SQL/AQI.csv', index=False)

In [29]:

# Calculate C0_8h_Avg_DC (daily data capture percentage for CO 8h Avg)
df2['C0_8h_Avg_DC'] = df2.groupby(['Station Name', 'Date'])['C0_8h_Avg'].transform(lambda x: x.count() / 24 * 100)

# Ensure only the last row of each day for each station retains the values, setting others to NaN
df2.loc[df2.duplicated(subset=['Station Name', 'Date'], keep='last'), ['C0_8h_Avg_DC']] = None

# Group by 'Station Name' and 'Date'
grouped = df2.groupby(['Station Name', 'Date'])

# Create new columns for the calculated daily averages
df2['Daily_Avg_8h_C0'] = None

# Iterate over each group to calculate the daily averages where count > 75
for (station, date), group in grouped:
    if group['C0_8h_Avg_DC'].sum() > 75:  # Check if total count > 75
        avg_value_c0 = group['C0_8h_Avg'].mean()  # Calculate average
        df2.loc[group.index[-1], 'Daily_Avg_8h_C0'] = avg_value_c0  # Assign to last row


# Convert 'Date' column to datetime format
df2['Date'] = pd.to_datetime(df2['Date'], dayfirst=True)

# Change date format to ddmmyyyy
df2['Date'] = df2['Date'].dt.strftime('%d/%m/%Y')

# Add a new column 'vlookup' that takes the first 5 letters of 'Station Name' and concatenates it with 'Date'
df2['vlookup'] = df2['Station Name'].str[:5] + df2['Date'].str.replace('/', '')

# Remove the 'Station Name' column
df2.drop(columns=['Station Name','Date'], inplace=True)


last_rows_per_date_station2 = df2.drop_duplicates(subset=['vlookup'], keep='last')

last_rows_per_date_station2 = last_rows_per_date_station2[['vlookup'] + [col for col in last_rows_per_date_station2.columns if col != 'vlookup']]

# Reset the index
last_rows_per_date_station2.reset_index(drop=True, inplace=True)

last_rows_per_date_station2

,vlookup,Time,CO,datacap,C0_8h_Avg,C0_8h_Avg_DC,Daily_Avg_8h_C0
0,Jurf01012023,23:00:00,0.984872,100.0,0.734359,70.833333,None
1,Jurf02012023,23:00:00,0.309204,100.0,0.303478,100.000000,0.493629
2,Jurf03012023,23:00:00,0.194684,100.0,0.294889,100.000000,0.272701
3,Jurf04012023,23:00:00,0.148876,100.0,0.187526,100.000000,0.211027
4,Jurf05012023,23:00:00,0.160328,100.0,0.271985,100.000000,0.20715
...,...,...,...,...,...,...,...
1821,Ajman27122023,23:00:00,3.510000,100.0,3.467500,100.000000,3.127552
1822,Ajman28122023,23:00:00,3.230000,100.0,3.296250,100.000000,2.987031
1823,Ajman29122023,23:00:00,2.670000,100.0,2.992500,100.000000,2.820885
1824,Ajman30122023,23:00:00,4.070000,100.0,3.440000,100.000000,2.748698
1825,Ajman31122023,23:00:00,2.840000,100.0,2.503750,100.000000,2.763281

In [30]:



# Merge last_rows_per_date_station and last_rows_per_date_station2 on 'vlookup'
combined_df = pd.merge(last_rows_per_date_station, last_rows_per_date_station2, on='vlookup', suffixes=('_O3', '_CO'))

# Merge the result with final_df on 'vlookup'
combined_df = pd.merge(combined_df, final_df, on='vlookup')

# Display the combined dataframe
D24hparameter=combined_df[['vlookup','SO2', 'NO2', 'Daily_Avg_8h_WHO', 'Daily_Avg_8h_NS', 'Daily_Avg_8h_C0', 'PM10', 'PM2.5']]

D24hparameter.to_csv('/workspaces/vikrant_dubai/SQL/D24hparameter.csv', index=False)




# Round all columns of D24hparameter to 1 decimal place
D24hparameter_rounded = D24hparameter.round(1)
# Convert 'Daily_Avg_8h_WHO', 'Daily_Avg_8h_NS', and 'Daily_Avg_8h_C0' to numeric, forcing errors to NaN
D24hparameter_rounded[['Daily_Avg_8h_WHO', 'Daily_Avg_8h_NS', 'Daily_Avg_8h_C0']] = D24hparameter_rounded[['Daily_Avg_8h_WHO', 'Daily_Avg_8h_NS', 'Daily_Avg_8h_C0']].apply(pd.to_numeric, errors='coerce')

# Round the specified columns to 1 decimal place
D24hparameter_rounded[['Daily_Avg_8h_WHO', 'Daily_Avg_8h_NS', 'Daily_Avg_8h_C0']] = D24hparameter_rounded[['Daily_Avg_8h_WHO', 'Daily_Avg_8h_NS', 'Daily_Avg_8h_C0']].round(1)
# Display the new table
D24hparameter_rounded.to_csv('/workspaces/vikrant_dubai/SQL/D24hparameter_rounded.csv', index=False)    





df=D24hparameter_rounded

# Create a new DataFrame KPI_NS containing only the 'vlookup' column
KPI_NS = df[['vlookup']].copy()

# Add 'SO2' column based on the condition
KPI_NS['SO2'] = df['SO2'].apply(lambda x: 1 if x < 150.4 else 0)

# Add 'NO2' column based on the condition
KPI_NS['NO2'] = df['NO2'].apply(lambda x: 1 if x < 150.4 else 0)

# Add 'O3' column based on the condition using 'Daily_Avg_8h_NS'
KPI_NS['O3'] = df['Daily_Avg_8h_NS'].apply(lambda x: 1 if x < 120.4 else 0)

# Add 'CO' column based on the condition using 'Daily_Avg_8h_C0'
KPI_NS['CO'] = df['Daily_Avg_8h_C0'].apply(lambda x: 1 if x < 10.4 else 0)


KPI_NS.to_csv('/workspaces/vikrant_dubai/SQL/KPI_NS.csv', index=False)



df=D24hparameter_rounded

# Create a new DataFrame KPI_NS containing only the 'vlookup' column
KPI_WHO = df[['vlookup']].copy()

# Add 'SO2' column based on the condition
KPI_WHO['SO2'] = df['SO2'].apply(lambda x: 1 if x < 20.4 else 0)

# Add 'NO2' column based on the condition
KPI_WHO['NO2'] = df['NO2'].apply(lambda x: 1 if x < 75.4 else 0)

# Add 'O3' column based on the condition using 'Daily_Avg_8h_NS'
KPI_WHO['O3'] = df['Daily_Avg_8h_NS'].apply(lambda x: 1 if x < 100.4 else 0)

# Add 'CO' column based on the condition using 'Daily_Avg_8h_C0'
KPI_WHO['CO'] = df['Daily_Avg_8h_C0'].apply(lambda x: 1 if x < 10.4 else 0)


KPI_WHO.to_csv('/workspaces/vikrant_dubai/SQL/KPI_WHO.csv', index=False)




KPI_PM = df[['vlookup']].copy()
KPI_PM['PM10'] = df['PM10'].apply(lambda x: 1 if x < 150.4 else 0)
KPI_PM['PM2.5'] = df['PM2.5'].apply(lambda x: 1 if x < 60.4 else 0)
KPI_PM.to_csv('/workspaces/vikrant_dubai/SQL/KPI_PM.csv', index=False)