In [1]:
import pandas as pd

In [25]:
df = pd.read_csv('/workspaces/vikrant_dubai/final/AJ/AJ 1.csv')
df

,Station Name,Date,Time,SO2,Data Cap. (SO2),SO2 Avg,NO2,Data Cap. (NO2),NO2 Avg,O3,...,O-Xylene,Ethylbenzene,MP-Xylene,Benzene,CH4,NMHC,THC,Noise,Solar Radiation,Atm P.
0,Masfout,01/01/2023,00:00:00,4.192,NaN,NaN,13.912,NaN,NaN,76.5648,...,NaN,NaN,NaN,NaN,2.6232,0.1110,2.7342,20.48,NaN,NaN
1,Masfout,01/01/2023,01:00:00,4.192,NaN,NaN,15.228,NaN,NaN,72.6384,...,NaN,NaN,NaN,NaN,2.6656,0.1272,2.7928,20.31,NaN,NaN
2,Masfout,01/01/2023,02:00:00,4.192,NaN,NaN,21.432,NaN,NaN,66.7488,...,NaN,NaN,NaN,NaN,3.8553,0.1799,4.0351,19.91,NaN,NaN
3,Masfout,01/01/2023,03:00:00,4.454,NaN,NaN,31.584,NaN,NaN,54.9696,...,NaN,NaN,NaN,NaN,2.8652,0.1158,2.9811,19.93,NaN,NaN
4,Masfout,01/01/2023,04:00:00,4.454,NaN,NaN,18.048,NaN,NaN,72.6384,...,NaN,NaN,NaN,NaN,4.0136,0.1681,4.1817,20.47,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3715,Jurf,31/01/2023,19:00:00,2.096,NaN,NaN,64.296,NaN,NaN,45.1536,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80.98,NaN,NaN
3716,Jurf,31/01/2023,20:00:00,1.3100000000000005,NaN,NaN,49.820,NaN,NaN,45.1536,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80.66,NaN,NaN
3717,Jurf,31/01/2023,21:00:00,2.358,NaN,NaN,15.228,NaN,NaN,82.4544,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81.18,NaN,NaN
3718,Jurf,31/01/2023,22:00:00,4.715999999999999,NaN,NaN,7.144,NaN,NaN,94.2336,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80.93,NaN,NaN
3719,Jurf,31/01/2023,23:00:00,1.5719999999999998,NaN,NaN,3.572,NaN,NaN,96.1968,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81.30,NaN,NaN

In [3]:
df.columns

Index(['Station Name', 'Date', 'Time', 'SO2', 'Data Cap. (SO2)', 'SO2 Avg',
       'NO2', 'Data Cap. (NO2)', 'NO2 Avg', 'O3', 'Data Cap. (O3)',
       'O3 8H Avg.', 'Daily Capture O3', 'O3 Daily Average',
       'O3 Daily Average (NS)', 'CO', 'Data Cap. (CO)', 'CO 8H Avg.',
       'Daily Capture CO', 'CO Daily Average', 'PM10', 'Data Cap. (PM10)',
       'PM10 Avg', 'PM2.5', 'Data Cap. (PM2.5)', 'PM2.5 Avg',
       'Lower Ambient Temperature', 'Upper Ambient Temperature',
       'Barometric Pressure', 'Relative Humidity', 'Wind Direction',
       'Wind Speed', 'H2S', 'Toluene', 'O-Xylene', 'Ethylbenzene', 'MP-Xylene',
       'Benzene', 'CH4', 'NMHC', 'THC', 'Noise', 'Solar Radiation', 'Atm P.'],
      dtype='object')

In [4]:
unique_station_names = df['Station Name'].unique()
print(unique_station_names.shape)

(5,)

In [5]:
def create_finder_table(df):
    df['vlookup'] = df['Station Name'].str[:3] + df['Date'].str.replace('/', '')
    df_grouped = df.groupby(['Station Name', 'Date']).first().reset_index()
    df_grouped['vlookup'] = df_grouped['Station Name'].str[:5] + df_grouped['Date'].str.replace('/', '')
    Finder_table = df_grouped[['Station Name', 'Date', 'vlookup']]
    return Finder_table

# Example usage:
Finder_table = create_finder_table(df)
Finder_table

    Station Name        Date        vlookup
0         AjmanX  01/01/2023  Ajman01012023
1         AjmanX  02/01/2023  Ajman02012023
2         AjmanX  03/01/2023  Ajman03012023
3         AjmanX  04/01/2023  Ajman04012023
4         AjmanX  05/01/2023  Ajman05012023
..           ...         ...            ...
150      Masfout  27/01/2023  Masfo27012023
151      Masfout  28/01/2023  Masfo28012023
152      Masfout  29/01/2023  Masfo29012023
153      Masfout  30/01/2023  Masfo30012023
154      Masfout  31/01/2023  Masfo31012023

[155 rows x 3 columns]

In [8]:
pollutants = ['SO2', 'NO2','CO','PM10', 'PM2.5']

# Convert pollutant columns to numeric, forcing errors to NaN
df[pollutants] = df[pollutants].apply(pd.to_numeric, errors='coerce')

avg_values = df.groupby(['Station Name', 'Date'])[pollutants].mean().reset_index()

final_df = pd.merge(avg_values, Finder_table, on=['Station Name', 'Date'], suffixes=(' Avg 24H', ''))
final_df.rename(columns={'Station Name': 'Name'}, inplace=True)
final_df['vlookup'] = final_df['Name'].str[:3] + final_df['Date'].str.replace('/', '')
final_df.drop(columns=['Name', 'Date']).head(6)

        SO2        NO2        CO       PM10      PM2.5      vlookup
0  1.908333  28.313750  1.162500   1.059583   0.085417  Ajm01012023
1  1.879583  31.040000  0.802917  15.120833   4.544167  Ajm02012023
2  1.812917  33.769583  0.669167  19.547500   6.686250  Ajm03012023
3  1.757500  21.143333  0.549583  26.630833   7.845833  Ajm04012023
4  1.766250  22.423333  0.714167  51.584583  17.287083  Ajm05012023
5  1.747500  22.172083  0.921667  11.619167   5.010000  Ajm06012023

In [9]:
selected_columns = df[['Station Name', 'Date', 'O3']]
selected_columns.to_csv('/workspaces/vikrant_dubai/final/AJ/AJ 1 O3.csv', index=False)

In [18]:
# Full code to process the dataset with all requested transformations

import pandas as pd

# Load the CSV file into a pandas DataFrame
file_path = "/workspaces/vikrant_dubai/final/AJ/AJ 1 O3.csv"
df = pd.read_csv(file_path)

# Extract unique station names
unique_station_names = df["Station Name"].unique()

# Define the process_data function
def process_data(values, dates):
    # Create DataFrame
    df_temp = pd.DataFrame({'Index': range(len(values)), 'Values': values, 'Date': dates})

    # Calculate 8-hour moving average
    df_temp['8h_Avg'] = df_temp['Values'].rolling(window=8).mean()

    # Calculate datacap (percentage of available data in 8-hour window)
    df_temp['datacap'] = df_temp['Values'].rolling(window=8).count() / 8 * 100

    # Ensure first 7 values of 'datacap' are blank (NaN)
    df_temp.loc[:6, 'datacap'] = None

    # Define function to calculate 8h_Avg_WHO and 8h_Avg_NS
    def calculate_adjusted_avg(df_temp, max_threshold):
        adjusted_avg = [None] * len(df_temp)
        for i in range(7, len(df_temp)):
            if df_temp.loc[i, 'datacap'] > 75:
                adjusted_avg[i] = df_temp.loc[i, '8h_Avg']
            else:
                max_value = df_temp.loc[i-7:i, 'Values'].max()
                if max_value > max_threshold:
                    adjusted_avg[i] = max_value
        return adjusted_avg

    # Calculate 8h_Avg_WHO with max value threshold of 100
    df_temp['8h_Avg_WHO'] = calculate_adjusted_avg(df_temp, 100)

    # Calculate 8h_Avg_NS with max value threshold of 120
    df_temp['8h_Avg_NS'] = calculate_adjusted_avg(df_temp, 120)

    return df_temp

# Process data for each station name
dfs = []
for station in unique_station_names:
    station_data = df[df['Station Name'] == station]
    station_values = station_data["O3"].tolist()
    station_dates = station_data["Date"].tolist()
    processed_df = process_data(station_values, station_dates)
    processed_df['Station Name'] = station
    dfs.append(processed_df)

# Concatenate all DataFrames
df2 = pd.concat(dfs, ignore_index=True)

# Rearrange the columns as specified
df2 = df2[['Station Name', 'Date', 'Values', 'datacap', '8h_Avg_WHO', '8h_Avg_NS']]
df2.rename(columns={'Values': 'O3'}, inplace=True)

# Convert 'Date' column to datetime format for proper grouping
df2['Date'] = pd.to_datetime(df2['Date'], dayfirst=True)

# Calculate 8h_Avg_WHO_DC and 8h_Avg_NS_DC
df2['8h_Avg_WHO_DC'] = df2.groupby(['Station Name', 'Date'])['8h_Avg_WHO'].transform(lambda x: x.count() / 24 * 100)
df2['8h_Avg_NS_DC'] = df2.groupby(['Station Name', 'Date'])['8h_Avg_NS'].transform(lambda x: x.count() / 24 * 100)

# Ensure only the last row of each day for each station retains the values, setting others to NaN
df2.loc[df2.duplicated(subset=['Station Name', 'Date'], keep='last'), ['8h_Avg_WHO_DC', '8h_Avg_NS_DC']] = None

# Group by 'Station Name' and 'Date'
grouped = df2.groupby(['Station Name', 'Date'])

# Create new columns for the calculated daily averages
df2['Daily_Avg_8h_WHO'] = None
df2['Daily_Avg_8h_NS'] = None

# Iterate over each group to calculate the averages where count > 75
for (station, date), group in grouped:
    if group['8h_Avg_WHO_DC'].sum() > 75:  # Check if total count > 75 for WHO
        avg_value_who = group['8h_Avg_WHO'].mean()  # Calculate average for WHO
        df2.loc[group.index[-1], 'Daily_Avg_8h_WHO'] = avg_value_who  # Assign to last row
    
    if group['8h_Avg_NS_DC'].sum() > 75:  # Check if total count > 75 for NS
        avg_value_ns = group['8h_Avg_NS'].mean()  # Calculate average for NS
        df2.loc[group.index[-1], 'Daily_Avg_8h_NS'] = avg_value_ns  # Assign to last row

In [19]:
# Convert 'Date' column to datetime format
df2['Date'] = pd.to_datetime(df2['Date'], dayfirst=True)

# Change date format to ddmmyyyy
df2['Date'] = df2['Date'].dt.strftime('%d%m%Y')

# Add a new column 'vlookup' that takes the first 5 letters of 'Station Name' and concatenates it with 'Date'
df2['vlookup'] = df2['Station Name'].str[:5] + df2['Date']

# Display the transformed DataFrame
df2

,Station Name,Date,O3,datacap,8h_Avg_WHO,8h_Avg_NS,8h_Avg_WHO_DC,8h_Avg_NS_DC,Daily_Avg_8h_WHO,Daily_Avg_8h_NS,vlookup
0,Masfout,01012023,76.5648,NaN,NaN,NaN,NaN,NaN,None,None,Masfo01012023
1,Masfout,01012023,72.6384,NaN,NaN,NaN,NaN,NaN,None,None,Masfo01012023
2,Masfout,01012023,66.7488,NaN,NaN,NaN,NaN,NaN,None,None,Masfo01012023
3,Masfout,01012023,54.9696,NaN,NaN,NaN,NaN,NaN,None,None,Masfo01012023
4,Masfout,01012023,72.6384,NaN,NaN,NaN,NaN,NaN,None,None,Masfo01012023
...,...,...,...,...,...,...,...,...,...,...,...
3715,Jurf,31012023,45.1536,100.0,92.5158,92.5158,NaN,NaN,None,None,Jurf31012023
3716,Jurf,31012023,45.1536,100.0,85.8900,85.8900,NaN,NaN,None,None,Jurf31012023
3717,Jurf,31012023,82.4544,100.0,81.4728,81.4728,NaN,NaN,None,None,Jurf31012023
3718,Jurf,31012023,94.2336,100.0,80.2458,80.2458,NaN,NaN,None,None,Jurf31012023
3719,Jurf,31012023,96.1968,100.0,79.5096,79.5096,100.0,100.0,45.8489,45.8489,Jurf31012023

In [23]:
import pandas as pd

# Load the uploaded CSV file into a pandas DataFrame
file_path = "/workspaces/vikrant_dubai/final/AJ/AJ 1 CO.csv"
df = pd.read_csv(file_path)

# Convert 'Date' column to datetime format for proper processing
df['Date'] = pd.to_datetime(df['Date'], dayfirst=True)

# Extract unique station names
unique_station_names = df["Station Name"].unique()

# Define the process_data function for CO transformation
def process_data(values, dates):
    # Create DataFrame
    df_temp = pd.DataFrame({'Index': range(len(values)), 'CO': values, 'Date': dates})

    # Calculate 8-hour moving average
    df_temp['C0_8h_Avg'] = df_temp['CO'].rolling(window=8).mean()

    # Calculate datacap (percentage of available data in 8-hour window)
    df_temp['datacap'] = df_temp['CO'].rolling(window=8).count() / 8 * 100

    # Ensure first 7 values of 'datacap' are blank (NaN)
    df_temp.loc[:6, 'datacap'] = None

    return df_temp

# Process data for each station name
dfs = []
for station in unique_station_names:
    station_data = df[df['Station Name'] == station]
    station_values = station_data["CO"].tolist()
    station_dates = station_data["Date"].tolist()
    processed_df = process_data(station_values, station_dates)
    processed_df['Station Name'] = station
    dfs.append(processed_df)

# Concatenate all DataFrames
df2 = pd.concat(dfs, ignore_index=True)

# Rearrange the columns as specified
df2 = df2[['Station Name', 'Date', 'CO', 'datacap', 'C0_8h_Avg']]

# Calculate C0_8h_Avg_DC (daily data capture percentage for CO 8h Avg)
df2['C0_8h_Avg_DC'] = df2.groupby(['Station Name', 'Date'])['C0_8h_Avg'].transform(lambda x: x.count() / 24 * 100)

# Ensure only the last row of each day for each station retains the values, setting others to NaN
df2.loc[df2.duplicated(subset=['Station Name', 'Date'], keep='last'), ['C0_8h_Avg_DC']] = None

# Group by 'Station Name' and 'Date'
grouped = df2.groupby(['Station Name', 'Date'])

# Create new columns for the calculated daily averages
df2['Daily_Avg_8h_C0'] = None

# Iterate over each group to calculate the daily averages where count > 75
for (station, date), group in grouped:
    if group['C0_8h_Avg_DC'].sum() > 75:  # Check if total count > 75
        avg_value_c0 = group['C0_8h_Avg'].mean()  # Calculate average
        df2.loc[group.index[-1], 'Daily_Avg_8h_C0'] = avg_value_c0  # Assign to last row

In [26]:
# Convert 'Date' column to datetime format
df2['Date'] = pd.to_datetime(df2['Date'], dayfirst=True)

# Change date format to ddmmyyyy
df2['Date'] = df2['Date'].dt.strftime('%d%m%Y')

# Add a new column 'vlookup' that takes the first 5 letters of 'Station Name' and concatenates it with 'Date'
df2['vlookup'] = df2['Station Name'].str[:5] + df2['Date']

# Display the transformed DataFrame
df2

,Station Name,Date,CO,datacap,C0_8h_Avg,C0_8h_Avg_DC,Daily_Avg_8h_C0,vlookup
0,Masfout,01012023,0.171780,NaN,NaN,NaN,None,Masfo01012023
1,Masfout,01012023,0.171780,NaN,NaN,NaN,None,Masfo01012023
2,Masfout,01012023,0.206136,NaN,NaN,NaN,None,Masfo01012023
3,Masfout,01012023,0.171780,NaN,NaN,NaN,None,Masfo01012023
4,Masfout,01012023,0.160328,NaN,NaN,NaN,None,Masfo01012023
...,...,...,...,...,...,...,...,...
3715,Jurf,31012023,0.435176,100.0,0.287731,NaN,None,Jurf31012023
3716,Jurf,31012023,0.389368,100.0,0.300615,NaN,None,Jurf31012023
3717,Jurf,31012023,0.286300,100.0,0.304909,NaN,None,Jurf31012023
3718,Jurf,31012023,0.251944,100.0,0.309204,NaN,None,Jurf31012023
3719,Jurf,31012023,0.171780,100.0,0.304909,100.0,0.5457,Jurf31012023