In [2]:
import pandas as pd

In [62]:
df = pd.read_csv('/workspaces/vikrant_dubai/final/AD/AD 1.csv')
df.head(10)

,Station Name,Date,Time,SO2,Data Cap. (SO2),SO2 Avg,NO2,Data Cap. (NO2),NO2 Avg,O3,...,Ethylbenzene,MP-Xylene,Benzene,CH4,NMHC,THC,Noise,Solar Radiation,Atm P.,DATA COUNT
0,Baniyas School,01/01/2023,00:00:00,4.13,NaN,6.45,66.33,NaN,44.88,21.15,...,NaN,NaN,NaN,NaN,NaN,NaN,52.97,NaN,NaN,NaN
1,Baniyas School,01/01/2023,01:00:00,4.81,NaN,6.45,74.41,NaN,44.88,11.71,...,NaN,NaN,NaN,NaN,NaN,NaN,59.76,NaN,NaN,NaN
2,Baniyas School,01/01/2023,02:00:00,5.11,NaN,6.45,71.63,NaN,44.88,9.04,...,NaN,NaN,NaN,NaN,NaN,NaN,52.66,NaN,NaN,NaN
3,Baniyas School,01/01/2023,03:00:00,6.09,NaN,6.45,76.44,NaN,44.88,5.66,...,NaN,NaN,NaN,NaN,NaN,NaN,53.57,NaN,NaN,NaN
4,Baniyas School,01/01/2023,04:00:00,5.46,NaN,6.45,69.75,NaN,44.88,9.62,...,NaN,NaN,NaN,NaN,NaN,NaN,52.54,NaN,NaN,NaN
5,Baniyas School,01/01/2023,05:00:00,5.81,NaN,6.45,68.02,NaN,44.88,5.57,...,NaN,NaN,NaN,NaN,NaN,NaN,51.84,NaN,NaN,NaN
6,Baniyas School,01/01/2023,06:00:00,7.95,NaN,6.45,59.16,NaN,44.88,5.10,...,NaN,NaN,NaN,NaN,NaN,NaN,57.24,NaN,NaN,NaN
7,Baniyas School,01/01/2023,07:00:00,9.18,NaN,6.45,53.94,NaN,44.88,5.71,...,NaN,NaN,NaN,NaN,NaN,NaN,52.77,NaN,NaN,NaN
8,Baniyas School,01/01/2023,08:00:00,9.08,NaN,6.45,47.93,NaN,44.88,6.77,...,NaN,NaN,NaN,NaN,NaN,NaN,55.10,NaN,NaN,NaN
9,Baniyas School,01/01/2023,09:00:00,8.43,NaN,6.45,59.02,NaN,44.88,6.89,...,NaN,NaN,NaN,NaN,NaN,NaN,54.54,NaN,NaN,NaN

In [63]:
df.columns

Index(['Station Name', 'Date', 'Time', 'SO2', 'Data Cap. (SO2)', 'SO2 Avg',
       'NO2', 'Data Cap. (NO2)', 'NO2 Avg', 'O3', 'Data Cap. (O3)',
       'O3 8H Avg.', 'Daily Capture O3', 'O3 Daily Average',
       'O3 Daily Average (NS)', 'CO', 'Data Cap. (CO)', 'CO 8H Avg.',
       'Daily Capture CO', 'CO Daily Average', 'PM10', 'Data Cap. (PM10)',
       'PM10 Avg', 'PM2.5', 'Data Cap. (PM2.5)', 'PM2.5 Avg',
       'Lower Ambient Temperature', 'Upper Ambient Temperature',
       'Barometric Pressure', 'Relative Humidity', 'Wind Direction',
       'Wind Speed', 'H2S', 'Toluene', 'O-Xylene', 'Ethylbenzene', 'MP-Xylene',
       'Benzene', 'CH4', 'NMHC', 'THC', 'Noise', 'Solar Radiation', 'Atm P.',
       'DATA COUNT'],
      dtype='object')

In [66]:
unique_station_names = df['Station Name'].unique()
print(unique_station_names.shape)

(20,)

In [68]:
def create_finder_table(df):
    df['vlookup'] = df['Station Name'].str[:3] + df['Date'].str.replace('/', '')
    df_grouped = df.groupby(['Station Name', 'Date']).first().reset_index()
    df_grouped['vlookup'] = df_grouped['Station Name'].str[:5] + df_grouped['Date'].str.replace('/', '')
    Finder_table = df_grouped[['Station Name', 'Date', 'vlookup']]
    return Finder_table

# Example usage:
Finder_table = create_finder_table(df)
Finder_table

                 Station Name        Date        vlookup
0    Al Ain Islamic Institute  01/01/2023  Al Ai01012023
1    Al Ain Islamic Institute  02/01/2023  Al Ai02012023
2    Al Ain Islamic Institute  03/01/2023  Al Ai03012023
3    Al Ain Islamic Institute  04/01/2023  Al Ai04012023
4    Al Ain Islamic Institute  05/01/2023  Al Ai05012023
..                        ...         ...            ...
615                    Zakher  27/01/2023  Zakhe27012023
616                    Zakher  28/01/2023  Zakhe28012023
617                    Zakher  29/01/2023  Zakhe29012023
618                    Zakher  30/01/2023  Zakhe30012023
619                    Zakher  31/01/2023  Zakhe31012023

[620 rows x 3 columns]

In [67]:
pollutants = ['SO2', 'NO2','CO','PM10', 'PM2.5']
avg_values = df.groupby(['Station Name', 'Date'])[pollutants].mean().reset_index()
datacap_values = df.groupby(['Station Name', 'Date'])[pollutants].apply(lambda x: (x.isna().sum()/24)*100).reset_index()

final_df = pd.merge(avg_values, datacap_values, on=['Station Name', 'Date'], suffixes=(' Avg 24H', ' Data Cap.'))
final_df.rename(columns={'Station Name': 'Name'}, inplace=True)
final_df['vlookup'] = final_df['Name'].str[:3] + final_df['Date'].str.replace('/', '')
final_df.drop(columns=['Name', 'Date']).head(60)

,SO2 Avg 24H,NO2 Avg 24H,CO Avg 24H,PM10 Avg 24H,PM2.5 Avg 24H,SO2 Data Cap.,NO2 Data Cap.,CO Data Cap.,PM10 Data Cap.,PM2.5 Data Cap.,vlookup
0,5.345417,25.265000,NaN,64.845833,14.579167,0.000000,0.000000,100.000000,0.000000,0.000000,Al 01012023
1,5.411250,29.375417,NaN,62.404167,19.250000,0.000000,0.000000,100.000000,0.000000,0.000000,Al 02012023
2,6.594583,40.979167,NaN,73.141667,10.075000,0.000000,0.000000,100.000000,0.000000,0.000000,Al 03012023
3,5.446667,20.700833,NaN,81.520833,5.916667,0.000000,0.000000,100.000000,0.000000,0.000000,Al 04012023
4,5.048333,33.338750,NaN,85.054167,9.616667,0.000000,0.000000,100.000000,0.000000,0.000000,Al 05012023
5,5.646250,29.213750,NaN,71.716667,11.133333,0.000000,0.000000,100.000000,0.000000,0.000000,Al 06012023
6,6.037083,22.400000,NaN,77.891667,10.991667,0.000000,0.000000,100.000000,0.000000,0.000000,Al 07012023
7,6.835417,24.896250,NaN,37.000000,6.704167,0.000000,0.000000,100.000000,0.000000,0.000000,Al 08012023
8,5.695417,27.755833,NaN,40.704167,11.612500,0.000000,0.000000,100.000000,0.000000,0.000000,Al 09012023
9,5.787500,28.176250,NaN,398.179167,55.912500,0.000000,0.000000,100.000000,0.000000,0.000000,Al 10012023
10,6.994783,14.746522,NaN,72.491667,15.979167,4.166667,4.166667,100.000000,0.000000,0.000000,Al 11012023
11,4.751250,33.686667,NaN,72.545833,16.791667,0.000000,0.000000,100.000000,0.000000,0.000000,Al 12012023
12,6.764583,27.506250,NaN,94.320833,13.154167,0.000000,0.000000,100.000000,0.000000,0.000000,Al 13012023
13,5.362083,33.762917,NaN,78.091667,10.716667,0.000000,0.000000,100.000000,0.000000,0.000000,Al 14012023
14,5.007500,30.942500,NaN,73.604167,6.970833,0.000000,0.000000,100.000000,0.000000,0.000000,Al 15012023
15,7.976250,44.129167,NaN,77.029167,12.229167,0.000000,0.000000,100.000000,0.000000,0.000000,Al 16012023
16,6.740417,39.836667,NaN,94.987500,13.720833,0.000000,0.000000,100.000000,0.000000,0.000000,Al 17012023
17,5.828333,17.478750,NaN,85.316667,13.341667,0.000000,0.000000,100.000000,0.000000,0.000000,Al 18012023
18,7.457917,19.168750,NaN,60.041667,20.854167,0.000000,0.000000,100.000000,0.000000,0.000000,Al 19012023
19,7.082083,25.124583,NaN,37.754167,11.787500,0.000000,0.000000,100.000000,0.000000,0.000000,Al 20012023
20,5.872917,19.218333,NaN,38.329167,6.695833,0.000000,0.000000,100.000000,0.000000,0.000000,Al 21012023
21,5.681250,30.175833,NaN,65.291667,7.625000,0.000000,0.000000,100.000000,0.000000,0.000000,Al 22012023
22,6.491250,20.903750,NaN,42.266667,6.633333,0.000000,0.000000,100.000000,0.000000,0.000000,Al 23012023
23,6.548750,21.886250,NaN,40.220833,6.658333,0.000000,0.000000,100.000000,0.000000,0.000000,Al 24012023
24,7.311818,20.575909,NaN,27.560870,4.695652,8.333333,8.333333,100.000000,4.166667,4.166667,Al 25012023
25,5.670417,25.383750,NaN,43.800000,6.791667,0.000000,0.000000,100.000000,25.000000,0.000000,Al 26012023
26,6.462500,21.459167,NaN,33.800000,7.270833,0.000000,0.000000,100.000000,0.000000,0.000000,Al 27012023
27,4.818750,23.030417,NaN,35.745833,8.137500,0.000000,0.000000,100.000000,0.000000,0.000000,Al 28012023
28,6.871667,30.600000,NaN,45.145833,12.744583,0.000000,0.000000,100.000000,0.000000,0.000000,Al 29012023
29,9.452083,49.520000,NaN,53.708333,19.983333,0.000000,0.000000,100.000000,0.000000,0.000000,Al 30012023
30,5.428333,55.941250,NaN,56.837500,19.304167,0.000000,0.000000,100.000000,0.000000,0.000000,Al 31012023
31,6.815000,29.419167,0.409167,44.700000,16.250000,0.000000,0.000000,0.000000,0.000000,0.000000,Al 01012023
32,8.314167,25.837500,0.411250,43.179167,20.754167,0.000000,0.000000,0.000000,0.000000,0.000000,Al 02012023
33,6.802917,31.534167,0.366250,41.495652,8.300000,0.000000,0.000000,0.000000,4.166667,0.000000,Al 03012023
34,6.991364,29.064783,0.347391,49.400000,7.008333,8.333333,4.166667,4.166667,0.000000,0.000000,Al 04012023
35,6.102500,40.841250,0.593333,60.079167,8.400000,0.000000,0.000000,0.000000,0.000000,0.000000,Al 05012023
36,7.412917,35.752500,0.505417,58.658333,10.708333,0.000000,0.000000,0.000000,0.000000,0.000000,Al 06012023
37,6.978333,29.083333,0.479583,64.416667,11.979167,0.000000,0.000000,0.000000,0.000000,0.000000,Al 07012023
38,6.530000,25.640000,0.460833,34.983333,7.441667,0.000000,0.000000,0.000000,0.000000,0.000000,Al 08012023
39,7.146667,28.747083,0.427083,36.050000,12.058333,0.000000,0.000000,0.000000,0.000000,0.000000,Al 09012023
40,6.761250,30.846667,0.453750,246.883333,47.466667,0.000000,0.000000,0.000000,0.000000,0.000000,Al 10012023
41,6.779583,25.332500,0.376667,66.575000,16.008333,0.000000,0.000000,0.000000,0.000000,0.000000,Al 11012023
42,6.550417,28.391250,0.373750,55.900000,20.962500,0.000000,0.000000,0.000000,0.000000,0.000000,Al 12012023
43,7.028750,24.608750,0.354583,69.716667,6.825000,0.000000,0.000000,0.000000,0.000000,0.000000,Al 13012023
44,7.619583,32.118750,0.417500,60.579167,8.612500,0.000000,0.000000,0.000000,0.000000,0.000000,Al 14012023
45,7.543750,31.286667,0.390000,47.416667,6.754167,0.000000,0.000000,0.000000,0.000000,0.000000,Al 15012023
46,8.272500,39.324583,0.553333,58.191667,11.004167,0.000000,0.000000,0.000000,0.000000,0.000000,Al 16012023
47,7.800000,42.293333,0.713333,54.483333,13.245833,0.000000,0.000000,0.000000,0.000000,0.000000,Al 17012023
48,7.602174,34.705652,0.470870,70.908333,12.829167,4.166667,4.166667,4.166667,0.000000,0.000000,Al 18012023
49,8.949167,33.634583,0.552500,55.070833,23.883333,0.000000,0.000000,0.000000,0.000000,0.000000,Al 19012023
50,6.572917,23.287083,0.301250,33.120833,13.666667,0.000000,0.000000,0.000000,0.000000,0.000000,Al 20012023
51,8.031667,24.293846,0.376667,28.237500,5.491667,0.000000,45.833333,0.000000,0.000000,0.000000,Al 21012023
52,8.106250,31.473333,0.482083,34.000000,6.020833,0.000000,0.000000,0.000000,0.000000,0.000000,Al 22012023
53,6.596667,25.589167,0.403333,35.658333,6.825000,0.000000,0.000000,0.000000,0.000000,0.000000,Al 23012023
54,5.743750,26.453333,0.442500,30.886957,6.965217,0.000000,0.000000,0.000000,4.166667,4.166667,Al 24012023
55,6.973333,26.263333,0.343750,34.083333,7.212500,0.000000,0.000000,0.000000,0.000000,0.000000,Al 25012023
56,5.936667,27.618750,0.435833,27.875000,7.483333,0.000000,0.000000,0.000000,0.000000,0.000000,Al 26012023
57,7.732083,30.729167,0.455833,24.891667,6.454167,0.000000,0.000000,0.000000,0.000000,0.000000,Al 27012023
58,8.098750,28.110000,0.412500,24.270833,11.379167,0.000000,0.000000,0.000000,0.000000,0.000000,Al 28012023
59,7.650417,35.680833,0.455417,30.112500,14.216667,0.000000,0.000000,0.000000,0.000000,0.000000,Al 29012023