In [ ]:
# pip install natsort
# pip install openpyxl

In [5]:
import pandas as pd 
import os
import glob
import difflib
from natsort import natsorted

In [2]:
n=10

mdf=pd.read_excel(f'/workspaces/vikrant_dubai/RAW/DXB/DM {n}.xlsx')
excel_file = pd.ExcelFile(f'/workspaces/vikrant_dubai/RAW/DXB/DM {n}.xlsx')

df = pd.DataFrame(columns=["Station Name", "Latitude", "Longitude", "Region", "Area Classification"])
dfs = []
for i in range(len(excel_file.sheet_names)):
    df = pd.read_excel(f"/workspaces/vikrant_dubai/RAW/DXB/DM {n}.xlsx", sheet_name = excel_file.sheet_names[i])
    df=df.drop([0,1,2,3,4,5])
    df=df.iloc[:,:9]


    mapped_data = {
        "Station Name": df.iloc[0, 2],  
        "Latitude": df.iloc[1, 3],  
        "Longitude": df.iloc[1, 5],  
        "Region": df.iloc[0, 4],  
        "Area Classification": df.iloc[0, 6], 
        "Emission Source": df.iloc[0, 8],
        "Station Operation Year": pd.to_datetime(df.iloc[1, 8])   
    }

    temp_df = pd.DataFrame([mapped_data])
    dfs.append(temp_df)

final_df = pd.concat(dfs, ignore_index=True)
final_df.to_csv(f'/workspaces/vikrant_dubai/SQL/STdetails.csv', index=False)

In [3]:
final_df

,Station Name,Latitude,Longitude,Region,Area Classification,Emission Source,Station Operation Year
0,DEIRA,25.267967,55.312417,DUBAI,Urban Commercial,Traffic,2013-01-01
1,KARAMA,25.250690,55.306709,DUBAI,Urban Commercial,Traffic,2013-01-01
2,ZABEEL,25.236323,55.298607,DUBAI,Urban,Traffic,2013-01-01
3,JEBEL ALI VILLAGE,25.029127,55.112869,DUBAI,Urban Residential,Industrial,2013-01-01
4,EMIRATES HILLS,25.076456,55.165650,DUBAI,Urban Residential,Background,2013-01-01
5,AIRPORT,25.247343,55.386254,DUBAI,Urban Commercial,Industrial (Airport),2013-01-01
6,MUSHRIF NATIONAL PARK,25.219974,55.456995,DUBAI,Urban,Background,2013-01-01
7,HATTA,24.817616,56.131792,DUBAI,Sub-Urban Commercial,Traffic,2013-01-01
8,WARSAN,25.156589,55.425680,DUBAI,Urban,Industrial,2013-01-01
9,SHK. ZAYED RD.,25.156316,55.227474,DUBAI,Urban Commercial,Traffic,2013-06-01
10,SHK. MOHD. BIN ZAYED RD.,25.057727,55.270888,DUBAI,Urban Residential,Traffic,2013-01-01
11,DIP,25.003213,55.159953,DUBAI,Urban Residential,Industrial,2019-03-01
12,AL QUSAIS,25.280030,55.368195,DUBAI,Urban Commercial,Background,2019-03-01
13,NAD AL SHIBA,25.145653,55.350062,DUBAI,Urban Residential,Background,2020-01-01

In [4]:
for mon in range(1,13):
   
    n=mon

    mdf=pd.read_excel(f'/workspaces/vikrant_dubai/RAW/DXB/DM {n}.xlsx')
    excel_file = pd.ExcelFile(f'/workspaces/vikrant_dubai/RAW/DXB/DM {n}.xlsx')

    columns_of_main_df = ['Station Name','Date', 'Time', 'SO2', 'Data Cap. (SO2)', 'SO2 Avg', 'NO2', 'Data Cap. (NO2)', 'NO2 Avg',      'O3', 'Data Cap. (O3)', 'O3 8H Avg.', 'Daily Capture O3', 'O3 Daily Average', 'O3 Daily Average (NS)', 'CO',  'Data Cap. (CO)', 'CO 8H Avg.', 'Daily Capture CO', 'CO Daily Average', 'PM10',    'Data Cap. (PM10)', 'PM10 Avg', 'PM2.5', 'Data Cap. (PM2.5)', 'PM2.5 Avg', 'Lower Ambient Temperature', 'Upper Ambient Temperature', 'Barometric Pressure', 'Relative Humidity', 'Wind Direction', 'Wind Speed', 'H2S', 'Toluene', 'O-Xylene', 'Ethylbenzene', 'MP-Xylene', 'Benzene', 'CH4', 'NMHC', 'THC', 'Noise', 'Solar Radiation','Atm P.']
    for s in range(len(excel_file.sheet_names)):
        main_df = pd.DataFrame(columns=columns_of_main_df)

        # Read the Excel file and preprocess the data
        mdf = pd.read_excel(f'/workspaces/vikrant_dubai/RAW/DXB/DM {n}.xlsx', sheet_name=excel_file.sheet_names[s])
        mdf = mdf.drop([0, 1, 2, 3,4,5,6,7,8,9,10]).reset_index(drop=True)
        mdf.columns = mdf.iloc[0]
        mdf = mdf[1:].reset_index(drop=True).drop([0, 1]).reset_index(drop=True)


        # Convert 'Date/Time' column to separate 'Date' and 'Time' columns
        mdf['Date/Time'] = pd.to_datetime(mdf['Date/Time'], format='%d/%m/%Y %H:%M', dayfirst=True) 
        mdf['Date'] = mdf['Date/Time'].dt.date
        mdf['Time'] = mdf['Date/Time'].dt.time
        new_df_columns = mdf.columns.tolist()

        # Iterate over the series and replace the column names
        for col_index in range(1, len(new_df_columns)):
            if 'DATA CAP.' in new_df_columns[col_index]:
                if new_df_columns[col_index-1] == 'DATA COUNT':
                    new_df_columns[col_index] = f"DATA CAP. ({new_df_columns[col_index-2]})"
                else:
                    new_df_columns[col_index] = f"DATA CAP. ({new_df_columns[col_index-1]})"

        mdf.columns = new_df_columns

        # Reorder columns and drop the original 'Date/Time' column
        mdf = mdf[['Date', 'Time'] + [col for col in mdf.columns if col not in ['Date', 'Time']]]
        mdf = mdf.drop(columns=['Date/Time'])

        # add column station name
        mdf['Station Name'] = excel_file.sheet_names[s]

        # Format the 'Date' column
        mdf['Date'] = pd.to_datetime(mdf['Date']).dt.strftime('%d/%m/%Y')


        # List of values to find matches for
        values = [str(col).upper() for col in mdf.columns]

        # List of column names
        l1 = [str(col).upper() for col in main_df.columns]

        # Loop through values and find the closest match
        matches = {}
        for value in values:
            closest_match = difflib.get_close_matches(value, l1, n=1)
            if closest_match:
                main_df[main_df.columns[main_df.columns.str.upper() == closest_match[0]][0]] = mdf[mdf.columns[mdf.columns.str.upper() == value][0]]
            else:
                main_df[value] = ''


        main_df.to_csv(f'/workspaces/vikrant_dubai/Transformed/{excel_file.sheet_names[s]}.csv', index=False)
            
    # Get a list of all CSV files in the transformed folder
    csv_files = [f for f in os.listdir('/workspaces/vikrant_dubai/Transformed') if f.endswith('.csv')]

    # Read and concatenate all CSV files
    combined_df = pd.concat([pd.read_csv(os.path.join('/workspaces/vikrant_dubai/Transformed', f)) for f in csv_files], ignore_index=True)

    # Save the combined DataFrame to a new CSV file
    combined_df.to_csv(f'/workspaces/vikrant_dubai/final/DXB/DXB {n}.csv', index=False)


    # Get a list of all files in the Transformed folder
    files = glob.glob('/workspaces/vikrant_dubai/Transformed/*')

    # Iterate over the list of files and remove each one
    for f in files:
        os.remove(f)

In [6]:
# Get a list of all CSV files in the final/DXB folder
final_DXB_csv_files = [f for f in os.listdir('/workspaces/vikrant_dubai/final/DXB') if f.endswith('.csv')]
final_DXB_csv_files = natsorted(final_DXB_csv_files)

# Read and concatenate all CSV files
combined_final_DXB_df = pd.concat([pd.read_csv(os.path.join('/workspaces/vikrant_dubai/final/DXB', f)) for f in final_DXB_csv_files], ignore_index=True)

# Save the combined DataFrame to a new CSV file
combined_final_DXB_df.to_csv('/workspaces/vikrant_dubai/final/comb/DXB_combined.csv', index=False)

# Remove all files in the final/DXB folder
for f in final_DXB_csv_files:
    os.remove(os.path.join('/workspaces/vikrant_dubai/final/DXB', f))