In [1]:
import pandas as pd
import numpy as np

# Load the CSV file into a Pandas DataFrame
file_path = "/workspaces/vikrant_dubai/Book.csv"
df = pd.read_csv(file_path)

# Create a new column 'Data cap' and initially set first 7 rows as NaN
df['Data cap'] = None

# Apply the formula: COUNT(O3 last 8 rows) / 8 * 100
for i in range(7, len(df)):
    df.loc[i, 'Data cap'] = df.loc[i-7:i, 'O3'].count() / 8 * 100

# Create a new column 'O3 8H Avg. (WHO)' and initially set first 7 rows as NaN
df['O3 8H Avg. (WHO)'] = None

# Apply the given formula:
# IF(Data cap >= 75, AVERAGE(O3 last 8 rows), IF(MAX(O3 last 8 rows) > 100, MAX(O3 last 8 rows), ""))
for i in range(7, len(df)):
    if df.loc[i, 'Data cap'] >= 75:
        df.loc[i, 'O3 8H Avg. (WHO)'] = df.loc[i-7:i, 'O3'].mean()
    elif df.loc[i-7:i, 'O3'].max() > 100:
        df.loc[i, 'O3 8H Avg. (WHO)'] = df.loc[i-7:i, 'O3'].max()
    else:
        df.loc[i, 'O3 8H Avg. (WHO)'] = np.nan  # Blank equivalent

# Create a new column 'O3 8H Avg. (N/S)' and initially set first 7 rows as NaN
df['O3 8H Avg. (N/S)'] = None

# Apply the given formula:
# IF(Data cap >= 75, AVERAGE(O3 last 8 rows), IF(MAX(O3 last 8 rows) > 120, MAX(O3 last 8 rows), ""))
for i in range(7, len(df)):
    if df.loc[i, 'Data cap'] >= 75:
        df.loc[i, 'O3 8H Avg. (N/S)'] = df.loc[i-7:i, 'O3'].mean()
    elif df.loc[i-7:i, 'O3'].max() > 120:
        df.loc[i, 'O3 8H Avg. (N/S)'] = df.loc[i-7:i, 'O3'].max()
    else:
        df.loc[i, 'O3 8H Avg. (N/S)'] = np.nan  # Blank equivalent

# Convert the 'Date' column to datetime format for proper grouping
df['Date'] = pd.to_datetime(df['Date'], format='%d-%m-%Y')

In [2]:
df

    Station Name       Date      O3 Data cap O3 8H Avg. (WHO) O3 8H Avg. (N/S)
0           Envi 2023-01-01  1.9632     None             None             None
1           Envi 2023-01-01  1.9632     None             None             None
2           Envi 2023-01-01  1.9632     None             None             None
3           Envi 2023-01-01  1.9632     None             None             None
4           Envi 2023-01-01  1.9632     None             None             None
..           ...        ...     ...      ...              ...              ...
739         Envi 2023-01-31  3.9264    100.0          11.7792          11.7792
740         Envi 2023-01-31     NaN     87.5        10.657371        10.657371
741         Envi 2023-01-31  5.8896     87.5         8.133257         8.133257
742         Envi 2023-01-31  1.9632     87.5         6.450514         6.450514
743         Envi 2023-01-31     NaN     75.0           5.5624           5.5624

[744 rows x 6 columns]