In [1]:
import pandas as pd
import numpy as np
import os
import glob

In [8]:
dfg=pd.read_excel("/workspaces/vikrant_dubai/RAW/AD/AD 1.xlsx")
dfg.head(10)

,Station Name,Hamdan Street,Unnamed: 2,Region,Abu Dhabi,Unnamed: 5,Area Classification,Urban Traffic,Unnamed: 8,Unnamed: 9,...,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40
0,Station Coordinates,N,24.48892,E,54.36372\n,Station Operation Year,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,190.96%,NaN,NaN,197.54%,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,697,NaN,NaN,721,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Date/Time,SO2,DATA CAP.,SO2 Avg,NO2,DATA CAP.,No2 Avg,O3,DATA CAP.,O3 8H Avg.,...,H2S,Toluene,O_Xylene,EthylBenzene,mp_xylene_,Benzene,CH4,NMHC,THC,Noise
5,Unit,µg/m3,µg/m3,µg/m3,µg/m3,µg/m3,µg/m3,µg/m3,µg/m3,µg/m3,...,µg/m3,µg/m3,µg/m3,µg/m3,µg/m3,µg/m3,NaN,NaN,µg/m3,LEQ-DB
6,Average Time,1 hr,%,24 hr,1 hr,%,24 hr,1 hr,%,8 hr,...,1 hr,1 hr,1 hr,1 hr,1 hr,NaN,NaN,NaN,NaN,NaN
7,01/01/2023 00:00:00,8.86,NaN,6.5,86.44,NaN,74.33,NaN,NaN,NaN,...,NaN,13.24,1.98,2.41,7.5,6.39,NaN,NaN,NaN,68.11
8,01/01/2023 01:00:00,7.22,NaN,6.5,83.51,NaN,74.33,NaN,NaN,NaN,...,NaN,10.84,1.9,2.03,6.97,5.25,NaN,NaN,NaN,68.13
9,01/01/2023 02:00:00,8.78,NaN,6.5,85.72,NaN,74.33,NaN,NaN,NaN,...,NaN,12.17,2.08,2.43,7.83,6.11,NaN,NaN,NaN,69.77

In [9]:
k=6
excel_file = pd.ExcelFile(f'/workspaces/vikrant_dubai/RAW/AD/AD {k}.xlsx')


df = pd.DataFrame(columns=["Station Name", "Latitude", "Longitude", "Region", "Area Classification"])
dfs = []
df = pd.read_excel(f"/workspaces/vikrant_dubai/RAW/AD/AD {k}.xlsx", sheet_name = excel_file.sheet_names[2])
df2 = df.iloc[:, :8]

# df = df2.transpose().iloc[:, :1]
# df.columns = df.iloc[0]
# df = df[1:]

# mapped_data = {
#     "Station Name": df.index[0],  
#     "Latitude": df.iloc[1, 0],  
#     "Longitude": df.iloc[3, 0],  
#     "Region": df.index[3],  
#     "Area Classification": df.index[6]  
# }
# temp_df = pd.DataFrame([mapped_data])
# temp_df

In [6]:
df2

,Station Name,Khalifa School,Unnamed: 2,Region,Abu Dhabi,Unnamed: 5,Area Classification,Suburban Background
0,Station Coordinates,N,24.43009,E,54.40843,Station Operation Year,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,171.24%,NaN,NaN,177.81%,NaN
3,NaN,NaN,NaN,625,NaN,NaN,649,NaN
4,Date/Time,SO2,DATA CAP.,SO2 Avg,NO2,DATA CAP.,No2 Avg,O3
...,...,...,...,...,...,...,...,...
674,02/28/2023 19:00:00,3.37,NaN,3.64,20.62,NaN,29.61,116.34
675,02/28/2023 20:00:00,2.63,NaN,3.64,22.23,NaN,29.61,107.15
676,02/28/2023 21:00:00,2.34,NaN,3.64,19.93,NaN,29.61,104.27
677,02/28/2023 22:00:00,2.1,NaN,3.64,16.08,NaN,29.61,103.21
678,02/28/2023 23:00:00,2.93,NaN,3.64,16.1,NaN,29.61,98.39

In [10]:
k=6
excel_file = pd.ExcelFile(f'/workspaces/vikrant_dubai/RAW/AD/AD {k}.xlsx')


df = pd.DataFrame(columns=["Station Name", "Latitude", "Longitude", "Region", "Area Classification"])
dfs = []
for i in range(len(excel_file.sheet_names)-4):
    df = pd.read_excel(f"/workspaces/vikrant_dubai/RAW/AD/AD {k}.xlsx", sheet_name = excel_file.sheet_names[i])
    df2 = df.iloc[:, :8]

    df = df2.transpose().iloc[:, :1]
    df.columns = df.iloc[0]
    df = df[1:]

    mapped_data = {
        "Station Name": df.index[0],  
        "Latitude": df.iloc[1, 0],  
        "Longitude": df.iloc[3, 0],  
        "Region": df.index[3],  
        "Area Classification": df.index[6]  
    }
    temp_df = pd.DataFrame([mapped_data])
    dfs.append(temp_df)

final_df = pd.concat(dfs, ignore_index=True)
final_df.to_csv(f'/workspaces/vikrant_dubai/final/details{k}.csv', index=False)


L2=[   'Date/Time', 'SO2', 'DATA CAP. (SO2)', 'SO2 Avg', 'NO2', 'DATA CAP. (NO2)', 'NO2 Avg',     'O3', 'DATA CAP. (O3)', 'O3 8H Avg.', 'Daily Capture', 'O3 Daily Average', 'O3 Daily Average (NS)', 'CO',     'DATA CAP. (CO)', 'CO 8H Avg.', 'Daily Capture', 'CO Daily Average', 'PM10',     'DATA CAP. (PM10)', 'PM10 Avg', 'PM2.5', 'DATA CAP. (PM2.5)', 'PM2.5 Avg',     'Lower Ambient Temperature', 'Upper Ambient Temperature', 'Barometric Pressure',    'Relative Humidity', 'Wind Direction', 'Wind Speed', 'H2S', 'Toluene', 'O_Xylene',     'Ethylbenzene', 'mp_xylene_', 'Benzene', 'CH4', 'NMHC', 'THC', 'Noise' ]

L2 = [elem.upper() for elem in L2]


# Suppress warnings
import warnings
warnings.filterwarnings('ignore')
for sheet_index in range(len(excel_file.sheet_names)-4):
    df3=pd.read_excel("/workspaces/vikrant_dubai/RAW/AD/AD 1.xlsx", sheet_name = excel_file.sheet_names[sheet_index])
    new_df_columns = df3.iloc[4]

    # Iterate over the series and replace the column names
    for col_index in range(1, len(new_df_columns)):
        if 'DATA CAP.' in new_df_columns[col_index]:
            if new_df_columns[col_index-1] == 'DATA COUNT':
                new_df_columns[col_index] = f"DATA CAP. ({new_df_columns[col_index-2]})"
            else:
                new_df_columns[col_index] = f"DATA CAP. ({new_df_columns[col_index-1]})"

    # Set the new header
    df3.columns = new_df_columns.str.upper().values

    # Display the DataFrame
    df3 = df3.drop([0, 1, 2, 3, 4, 5, 6, 7])
    df3.reset_index(drop=True, inplace=True)


    # Mapping the original column names to new column names
    column_mapping = {
        'DATE/TIME': 'DATE/TIME',    'SO2': 'SO2',    'DATA CAP. (SO2)': 'DATA CAP. (SO2)',    'SO2 AVG': 'SO2 AVG',    'NO2': 'NO2',    'DATA CAP. (NO2)': 'DATA CAP. (NO2)',    'NO2 AVG': 'NO2 AVG',    'O3': 'O3',    'DATA CAP. (O3)': 'DATA CAP. (O3)',    'O3 8H AVG.': 'O3 8H AVG.',    'DAILY CAPTURE': 'DAILY CAPTURE',    'O3 DAILY AVERAGE': 'O3 DAILY AVERAGE',    'O3 DAILY AVERAGE (NS)': 'O3 DAILY AVERAGE (NS)',    'CO': 'CO',    'DATA CAP. (CO)': 'DATA CAP. (CO)',    'CO 8H AVG.': 'CO 8H AVG.',    'DAILY CAPTURE': 'DAILY CAPTURE',    'CO DAILY AVERAGE': 'CO DAILY AVERAGE',    'PM10': 'PM10',    'DATA CAP. (PM10)': 'DATA CAP. (PM10)',    'PM10 AVG': 'PM10 AVG',    'PM2.5': 'PM2.5',    'DATA CAP. (PM2.5)': 'DATA CAP. (PM2.5)',    'PM2.5 AVG': 'PM2.5 AVG',    'LOWER AMBIENT TEMPERATURE': 'LOWER AMBIENT TEMPERATURE',    'UPPER AMBIENT TEMPERATURE': 'UPPER AMBIENT TEMPERATURE',    'BAROMETRIC PRESSURE': 'BAROMETRIC PRESSURE',    'RELATIVEHUMIDITY': 'RELATIVE HUMIDITY',    'WIND DIRECTION': 'WIND DIRECTION',    'WIND SPEED': 'WIND SPEED',    'H2S': 'H2S',    'TOLUENE': 'TOLUENE',    'O_XYLENE': 'O_XYLENE',    'ETHYLBENZENE': 'ETHYLBENZENE',    'MP_XYLENE_': 'MP_XYLENE_',    'BENZENE': 'BENZENE',    'CH4': 'CH4',    'NMHC': 'NMHC',    'THC': 'THC',    'NOISE': 'NOISE'
    }

    df3 = df3.rename(columns=column_mapping)
    df3.insert(0, 'STATION NAME', excel_file.sheet_names[sheet_index])
    df3["DATE/TIME"] = pd.to_datetime(df3["DATE/TIME"], format='%m/%d/%Y %H:%M:%S')
    df3["DATE/TIME"] = df3["DATE/TIME"].dt.strftime('%d/%m/%Y %H:%M:%S')
    df3.to_csv(f'/workspaces/vikrant_dubai/Transformed/{excel_file.sheet_names[sheet_index]}.csv', index=False)
    




# Get a list of all CSV files in the transformed folder
csv_files = [f for f in os.listdir('/workspaces/vikrant_dubai/Transformed') if f.endswith('.csv')]

# Read and concatenate all CSV files
combined_df = pd.concat([pd.read_csv(os.path.join('/workspaces/vikrant_dubai/Transformed', f)) for f in csv_files], ignore_index=True)

# Save the combined DataFrame to a new CSV file
combined_df.to_csv(f'/workspaces/vikrant_dubai/final/combined{k}.csv', index=False)


# Get a list of all files in the Transformed folder
files = glob.glob('/workspaces/vikrant_dubai/Transformed/*')

# Iterate over the list of files and remove each one
for f in files:
    os.remove(f)

In [4]:

    # df3 = df3.drop(df3.index[:4])
    # df3.columns = df3.iloc[0:3].apply(lambda x: ' '.join(x.dropna().astype(str)), axis=0)
    # df3 = df3[3:]
    # df3.reset_index(drop=True, inplace=True)
    # df3.insert(0, 'Station Name', excel_file.sheet_names[i])
    # # df3.to_csv(f'/workspaces/vikrant_dubai/Transformed/{excel_file.sheet_names[i]}.csv', index=False)